<section
  class="w-[100%] mx-auto my-[7rem] sm:my-[15rem] md:my-[10rem] sm:w-[80%]"
>
  <div class="w-[90%] mx-auto sm:w-[50%] md:w-[70%]">
    <img src="../../assets/error.jpg" alt="errorpage" class="w-90% mx-auto md:w-[80%]" />
  </div>
  <div class="w-[90%] mx-auto sm:w-[50%]">
    <a href="" class="w-[150px] block mx-auto">
      <button
        class="w-[150px] text-center bg-button py-2 px-5 rounded-lg text-white hover:px-8 animate-pulse ease-in-out delay-150 duration-300"
      >
        Go home
      </button>
    </a>
  </div>
</section>
