<header
  class="text-gray-600 body-font p-5 shadow-lg border-b-[.1rem] border-b-pageColor"
>
  <div class="max-w-[1450px] mx-auto xsmx:flex justify-between">
    <a class="flex font-medium items-center text-gray-900">
      <span class="text-xl text-button font-extrabold">FBN Tech Academy</span>
    </a>
    <nav class="sm:flex items-center text-base justify-center">
      <a
        routerLink="/"
        routerLinkActive="button"
        class="mr-5 hover:text-pageColor font-bold"
        >HOME</a
      >
      <a
        routerLink="/users"
        routerLinkActive="button"
        class="mr-5 hover:text-pageColor font-bold"
        >USERS</a
      >
    </nav>
  </div>
</header>
