<div class="flex items-center space-x-2">
  <div class="flex items-center relative h-12 flex-1 group md:w-1/2 md:flex-initial">
      <input type="text" name="search"
             class="w-full inline-block h-full border border-gray-300 pl-9 rounded-md focus:border-gray-500"
             [(ngModel)]="searchTerm" (ngModelChange)="handleChange($event)" />
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6 absolute left-2 top-1/2 -translate-y-1/2 pointer-events-none text-gray-300 group-focus-within:text-gray-500">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
  </div>
</div>