<main class="w-full relative before:absolute before:inset-0 before:-translate-x-full before:bg-gradient-to-r before:from-transparent before:via-white/20 hover:shadow-lg before:animate-[shimmer_1.5s_infinite]">
  <div
    class="background-image md:w-full md:h-[30vh] lg:h-[40vh] xl:h-[35vh] bg-neutral-200"
  ></div>
  <div class="md:flex max-w-[2000px]">
    <section class="w-full md:border-r-[1px] border-slate-200 md:basis-[45%]">
      <div
        class="mb-5 text-center md:p-5 md:relative md:translate-y-[-160px] md:z-10 md:h-[200px] lg:translate-y-[-190px]"
      >
        <!-- image section -->
        <div
          class="w-[100px] h-[100px] mx-auto mt-10 md:w-[150px] md:h-[150px] md:mb-4 lg:w-[200px] lg:h-[200px]"
        >
          <div
         
            class="w-full h-full  bg-neutral-200 rounded-full md:border-8 md:border-white"
          ></div>
        </div>
        <!-- text section -->
        <h2 class="font-bold bg-neutral-200 text-lg font-sans md:text-3xl md:mb-2 h-[20px]">
        </h2>
        <p class=" bg-neutral-200 h-[20px] font-thin text-sm md:text-lg">
         
        </p>
        <span class="block bg-neutral-200 h-[20px] italic text-[0.7rem] text-button md:text-md">
          </span
        >
      </div>
      <!-- company section -->
      <div
        class="w-full text-start p-5 border-t-[1px] border-slate-200 lg:px-20"
      >
        <h3
          class=" bg-neutral-200 h-[20px] font-bold text-button text-md font-mono mb-3 md:text-lg lg:text-2xl"
        >
       
        </h3>
        <div class="w-full flex mb-5">
          <div
            class="basis-[30%] mr-3 xsmx:basis-[20%] md:basis-[25%] lg:basis=[5%]"
          >
            <div
          
              class=" bg-neutral-200 rounded-lg w-[100%] max-w-[130px] max-h-[130px]"
            ></div>
          </div>
          <div class="basis-[70%] lg:basis-[90%]">
            <h4 class=" bg-neutral-200 h-[20px] text-sm text-button xsmx:font-bold lg:text-lg lg:mb-1">
            
            </h4>
            <p class=" bg-neutral-200 h-[20px] text-[.7rem] mb-2 xsmx:text-sm xsmx:font-thin lg:text-lg">
            
            </p> 
            <span class="block bg-neutral-200 h-[20px] text-[.7rem] text-gray-500 lg:text-sm"
              ></span
            >
          </div>
        </div>
        <div class="w-full">
          <h5 class=" bg-neutral-200 h-[20px] text-sm font-bold mb-2 italic text-slate-500 md:text-lg">
         
          </h5>
          <p
            class=" bg-neutral-200 h-[20px] text-[.7rem] text-slate-500 md:text-sm md:font-thin md:text-slate-800"
          >
         
          </p>
        </div>
      </div>
    </section>
    <section class="md:basis-[45%]">
      <!-- about section -->
      <div class="p-5">
        <h5 class=" bg-neutral-200 h-[20px] text-sm font-serif font-bold mb-2 text-button md:text-lg">
       
        </h5>
        <p
          class=" bg-neutral-200 h-[20px] text-[.7rem] text-slate-500 md:text-sm md:font-thin md:text-slate-800"
        >
        </p>
      </div>
      <!-- contact section -->
      <div class="p-5 text-sm text-slate-500">
        <h5 class=" bg-neutral-200 h-[20px] font-serif font-bold mb-2 text-button md:text-lg">

        </h5>
        <p
          class=" bg-neutral-200 h-[20px] text-[.7rem] text-slate-500 mb-2 md:text-sm md:font-thin md:text-slate-800"
        >
        
        </p>
        <a

          class="block bg-neutral-200 h-[20px] text-sm text-slate-500 decoration-none"
          ></a
        >
        <span class="block bg-neutral-200 h-[20px] text-sm text-slate-500"></span>
      </div>
    </section>
  </div>
</main>

