<section class="w-full hero-section md:flex">
  <div class="font-sans p-3 text-center text-white md:basis-[60%]">
    <h2 class="text-xl font-bold mt-5 mb-3 xsm:w-[350px] mx-auto md:mt-[3rem] md:text-2xl lg:w-[700px] lg:text-3xl lg:mt-[4rem] xl:text-4xl xl:mt-[10rem]">A Team of motivated developers building digital solutions</h2>
    <span class="block max-w-[800px] mx-auto text-white-500 mb-3 italic font-thin xsm:w-[400px] lg:text-xl lg:w-[800px] xl:text-2xl"
      >A team of skilled and passionate developers dedicated to crafting innovative digital solutions. 
      Our commitment is to deliver high-quality products that meet and exceed our clients' expectations.</span
    >
  </div>
  <div class="relative px-3 pb-10 xsm:w-[60%] mx-auto md:basis-[40%] md:py-10 lg:px-10">
    <img src="../../assets/hero.png" alt="herobg">
  </div>
  
</section>
