<main>
  <app-hero-section></app-hero-section>
  <section class="max-w-[1200px] mx-auto p-3 mt-5 lg:mt-10">
    <h4 class="font-bold lg:text-2xl">FOCUS AREAS</h4>
    <p
      class="w-[70px] h-[10px] bg-black mb-6 rounded-lg hover:w-[110px] animate-pulse ease-in-out delay-150 duration-300"
    ></p>
    <div class="xsmx:flex flex-wrap gap-5 justify-center">
      @for(specialization of specializations; track $index){
      <app-focus-card [specialization]="specialization"></app-focus-card>
      }@empty{
      <p>No focus areas available.</p>
      }
    </div>
  </section>
  <section class="max-w-[1200px] mx-auto p-3 mt-5 lg:mt-10">
     <h4 class="font-bold lg:text-2xl">Meet The Team</h4>
    <p
      class="w-[70px] h-[10px] bg-black mb-6 rounded-lg hover:w-[110px] animate-pulse ease-in-out delay-150 duration-300"
    ></p>
    <div class="max-w-[1200px] mx-auto xsmx:flex flex-wrap gap-2 justify-center">
      @for(member of teamMembers; track $index){
      <app-team [teamMember]="member"></app-team>
      }@empty {
      <p>Team mates coming up soon</p>
      }
    </div>
  </section>
</main>
