<nav>
  <a href="#">Home</a>
  <a href="#">Users</a>
</nav>
<div class="contain-user-photo">
  <div class="cover-photo"></div>
  <div class="profile-picture">
    <img src="mvn.jpeg" alt="Your Profile Picture">
  </div>
</div>
<div class="container">
  <section class="about-section">
    <div class="user-name">
      <h3>{{ user?.name }}</h3>
      <p>{{ user?.address }}</p>
      <p> {{ user?.website }}</p>
    </div>
    <div class="company-info">
      <strong>Company:</strong> {{ user?.company }}
      <p>Software Engineer with about 4 years experience in different programming languages.</p>
    </div>
  </section>
 
  <section class="contact-sec">
    <h2>About Me</h2>
    <p>Software Engineer with about 4 years experience in different programming languages.</p>
    <p>Also skilled in automation.</p>
 
    <div class="contact-info">  
      <h2>Contact Information</h2>
      <p>{{ user?.address }}</p>
      <p>{{ user?.email }}</p>
      <p>{{ user?.phone }}</p>
    </div>
  </section>
</div>