@media screen and (min-width: 768px) {
  .background-image {
    position: relative;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
    z-index: 1;
  }
}
