<div id="user-area">
<div class="contain-user-photo">
  <div class="cover-photo">
    <img src="../../assets/images/new.jpg" alt="">
  </div>
  <div class="profile-picture">
    <img src="mvn.jpeg" alt="Your Profile Picture">
  </div>
</div>
<div id="user-details">
  <div class="first-details">
    <div class="user-first">
      <h5> Faith Samson</h5>
      <p>Faith001</p>
      
  </div>
<div class="company-details">
<h6 class="mb-4 ">Company</h6>
<div class="Company"><img src="" alt=""></div>
<div class="company-word px-2">
  <p class="fw-bolder">Faith Company</p>
  <p>Senior Software Engineer</p>
  </div>
  </div>
  <p class="mt-4 fw-bolder">About Company</p>
  <p class="me-5">Company user Id</p>
</div>
<div class="Details">
  <div class="About">
    <h6>About Me</h6>
    <p>Profile userid</p>
  </div>
  <div class="Contact">
    <h6>Contact Information</h6>
    <p>Address</p>
    <p>Email</p>
    <p>Phone number</p>
  </div>
</div>
</div>

</div>